@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Login-RegisterLayout.cshtml";
}

<style>
    .custom-label {
        padding-top: 15px;
        color: white;
        font-family: 'Montserrat';
        /* font-weight: bolder; */
        font-size: 17px;
        font-weight: bold;
        z-index: 99;
        opacity:1;
    }
</style>

<div class="text-center container contact" id="request" style="margin-top:0">
    <div class="row">
        <div class="padding-left1">
            <div class="contact">
                <div class="titlepage">
                    <h2>Register</h2>
                </div>
                <form class="request" method="post" asp-action="Register" asp-controller="Account">
                    <div asp-validation-summary="All" class="text-danger mb-4"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Name"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus form-control" asp-for="@Model.Name" type="text">
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Age"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus form-control" asp-for="@Model.Age" type="text">
                            <span class="text-danger" asp-validation-for="@Model.Age"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Sex"></label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-select-sm nice-select" style="margin-top:17px;width:100%" asp-for="@Model.Sex" aria-label=".form-select-sm example" asp-items="@Html.GetEnumSelectList<Sex>()">
                                <option selected="selected" disabled="">Please Select</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.Sex"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Religion"></label>
                        </div>
                        <div class="col-sm-8">                         
                            <textarea id="shortbio" asp-for="@Model.Religion" class="form-control"
                                      style="border-bottom-left-radius:0;border-top-left-radius:0;width:100%; height:120px" oninput="GetInput()">
                            </textarea>
                            <span class="text-danger" asp-validation-for="@Model.Sex"></span>
                        </div>                     
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Nationality"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.Nationality" type="text">
                            <span class="text-danger" asp-validation-for="@Model.Nationality"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.State"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.State" type="text">
                            <span class="text-danger" asp-validation-for="@Model.State"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.LocalGovt"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.LocalGovt" type="text">
                            <span class="text-danger" asp-validation-for="@Model.LocalGovt"></span>
                        </div>
                    </div>

                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Address"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.Address" type="text">
                            <span class="text-danger" asp-validation-for="@Model.Address"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.PhoneNumber"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.PhoneNumber" type="text">
                            <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Email"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.Email" type="text">
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>

                    <div class="row  mt-3">
                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.Password"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.Password">
                            <span class="text-danger" asp-validation-for="@Model.Password"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">

                        <div class="col-sm-4">
                            <label class="custom-label" asp-for="@Model.ConfirmPassword"></label>
                        </div>
                        <div class="col-sm-8">
                            <input class="contactus" asp-for="@Model.ConfirmPassword">
                            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <button class="send">Submit</button>
                        </div>
                    </div>
                    <div class="mt-4 text-white">
                        <p>
                            Alreadey have an  Account <a asp-action="Login" style="color:cornflowerblue">Login</a>
                        </p>
                        <p>
                            CLick to go back to the  <a asp-action="Index" asp-controller="Home" style="color:cornflowerblue">HomePage</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>