@model  HelpersNetworkViewModel;

@{
    ViewData["Title"] = "Home Page";
    ViewData["DailyView"] = Model.DailyViewModel?.Body;
}
<style>
   @@media screen and (max-width:499px){
       .donate-btn{
       }
   }
</style>
<!--Header Section-->
<header>
    <!-- header inner -->
    <div class="head">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <marquee behavior="" direction="">
                        <h6 style="padding-top:25px;color:white">
                            @ViewData["DailyView"]
                        </h6>
                    </marquee>
                </div>
                <div class="col-4" style="padding-top:25px;" >
                    <a asp-action="Donate" asp-controller="Home" class="btn-sm donate-btn " style="color:white;background-color: #48b3d3;padding:10px">Support Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top1">
        <div class="header">
            @{
                await Html.RenderPartialAsync("_MenuBar");
            }
        </div>
        <!-- end header inner -->
        <!-- end header -->

        <div class="container-fluid welcome-text wow fadeInRight" data-wow-delay="0.0s">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1>
                        Every community need constant, consistent and considerate interventions.<br />
                        We are here to inspire and ensure that.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header Section-->
<!--What we do Section-->
<div class="works mt-5" id="works">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h6>Who we are</h6>
            <p>
                Community Helpers Network is a faith based Non-Governmental Organisation that takes the
                light of the church to the community for human capacity and infrastructure development.
                We also bring the community back to the church for personal and spiritual developments and interventions.
            </p>
            <div class="row imageview mt-5">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="service-item">
                        <img class="section-img" asp-append-version="true" src="~/Images/IMG-20210721-WA0004.jpg" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4  wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <img class="section-img" asp-append-version="true" src="~/Images/IMG-20210721-WA0006.jpg" />
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-6 mb-4 wow fadeInUp last-item" data-wow-delay="0.4s">
                    <div class="service-item">
                        <img class="section-img" asp-append-version="true" src="~/Images/IMG-20210721-WA0003.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="works" id="works">
    <div class="container pt-0">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h6>How we work</h6>
            <p>
                We work with individuals, companies, religious bodies,
                non governmental organisation and government agencies to bring human capacity and infrastructural development
                to communities.
            </p>
        </div>
        <div class="row imageview mt-5">           
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <img class="section-img" asp-append-version="true" src="~/Images/what-we-do-img4.jpg"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <img class="section-img" asp-append-version="true" src="~/Images/IMG-20210721-WA0000.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 wow fadeInUp last-item" data-wow-delay="0.4s">
                <div class="service-item">
                    <img class="section-img" asp-append-version="true" src="~/Images/IMG-20210721-WA0002.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="works" id="works">
    <div class="container pt-0">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h6>Our unique approach</h6>
            <p>
                We establish Community Helpers Network as a group
                in many churches in a local governemnt for effective
                community interventions within the community each church is situated
            </p>
        </div>
    </div>
</div>

<div class="wrapper row2 " style="background-color:#6f838a;margin-bottom:200px;margin-top:50px;padding-bottom:80px">
    <section class="hoc container clear">
        <div class="sectiontitle" style="position:relative; z-index:99; color:white">
            <h6 class="heading" style="color:white;font-weight:800">Latest News and Event</h6>
        </div>
        <div class="group latest mb-5 ">
            @{
                var firstevent = Model.News?.FirstOrDefault();
                <article class="one_third first wow fadeInLeft" data-wow-delay="0.1s">
                    <img src="~/ContentImages/@firstevent?.ImagePath" style="width:-webkit-fill-available;height:185px" alt="">
                    <div class="txtwrap">
                        <h6 class="heading" style="font-weight:600;font-size:medium">@firstevent?.Title</h6>
                        <time class="font-xs block btmspace-10" style="color:#4ac9f0;text-shadow:0 0 #4ac9f0;font-size:smaller" datetime="@firstevent?.DatePublished.ToString("dd/MM/yyyy HH:mm")">@firstevent?.DatePublished.ToString("dd/MM/yyyy HH:mm")</time>
                        <p>@firstevent?.ShortDescription</p>
                        <footer><a asp-action="NewsDetails" asp-controller="News" asp-route-id="@firstevent.Id" style="color: #4ac9f0;text-shadow:0 0 #4ac9f0">Read More</a></footer>
                    </div>
                </article>
                if (Model.News != null)
                {
                    var events = @Model.News.GetRange(1, 2);
                    foreach (var Event in events)
                    {
                        <article class="one_third wow fadeInLeft" data-wow-delay="0.1s">
                            <img src="~/ContentImages/@Event.ImagePath" style="width:-webkit-fill-available;height:185px" alt="">
                            <div class="txtwrap">
                                <h6 class="heading" style="font-weight:600;font-size:medium">@Event.Title</h6>
                                <time class="font-xs block btmspace-10" style="color:#4ac9f0;text-shadow:0 0 #4ac9f0;font-size:smaller" datetime="@Event?.DatePublished.ToString("dd/MM/yyyy HH:mm")">@Event?.DatePublished.ToString("dd/MM/yyyy HH:mm")</time>
                                <p>@Event?.ShortDescription</p>
                                <footer><a asp-action="NewsDetails" asp-controller="News" asp-route-id="@Event.Id" style="color:#4ac9f0;text-shadow:0 0 #4ac9f0">Read More</a></footer>
                            </div>
                        </article>
                    }
                }

            }
        </div>
    </section>
    <a class=" btn-lg news-btn  text-center text-white mt-3" asp-action="Index" asp-controller="News" style="position:relative; left:40%">See more</a>
</div>

<!--Our Values Section-->
<div class="wrapper row2 mt-5" style="margin-bottom:100px">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading" style="font-weight:800">Our Values</h6>
        </div>
        <ul class="nospace group services" style="margin-bottom:100px">
            <li class="one_third first">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-certificate"></i> Respect</h6>
                    <p>
                        We respect the values and the beliefs of the people with
                        and for whom we work and we act in consideration of their environment. We help always.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-balance-scale"></i>Integrity</h6>
                    <p>
                        We adhere strictly to strong principles;
                        we take responsibility for our actions, processes and results,
                        and we expect the same from our stakeholders. We honour our commitments.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-handshake"></i>Collaborations</h6>
                    <p>
                        We believe we are more powerful when we work together
                        within our team and with our partners. We all join forces for greater impact.
                    </p>
                </article>
            </li>
            <li class="one_third first">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-robot"></i>Innovation</h6>
                    <p>
                        We are entrepreneur; we have the courage and the creativity to pursue unique ideas
                        that have the potential of pushing boundaries. We think outside the box and we make it happen.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-ice-cream"></i>Fun</h6>
                    <p>
                        We aspire to connect, spread joy and excitement in everything we do.
                        While having fun, we strive to achieve positive and sustainable results.
                    </p>
                </article>
            </li>
            <li class="one_third">
                <article class="infobox">
                    <h6 class="heading" style="font-weight:800"><i class="fa fa-praying-hands"></i>PRAYERS</h6>
                    <p>
                        We believe in the power of prayers to achieve our vision. Our members pray constantly
                        and consistently for the work to achieve bigger success than we can on our own
                    </p>
                </article>
            </li>
        </ul>
    </section>
</div>
<!--Latest Event-->


@section Scripts{

    <script>
        $(".nav-link1").css("color", "#4ac9f0");
    </script>
}
