
@model HelpersNetworkViewModel;


@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="header" style="background-color: #023041; top: 0px; position: fixed; z-index: 999; width: 100%">
        @{
            await Html.RenderPartialAsync("_MenuBar");
        }
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">News</h3>
    </div>
</div>


<div class="container row">
    <div class="col-lg-6 col-md-7 news-block mb-3">
        @foreach (var item in Model.News)
        {
            <div class="mb-4">
                <div class="mb-3">
                    <img asp-append-version="true" class="News-img" src="~/content/Images/@item.Images" />
                </div>
                <div>
                    <h6 style="color:#ff6a00">@item.DatePublished</h6>
                    <h5 class="mt-2"><b>@item.Title</b></h5>
                    <p>@item.ShortDescription</p>
                    <a class="btn btn-lg btn_ss" asp-action="NewsDetails" asp-controller="Home" asp-route-id="@item.Id">Read More</a>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6 col-md-5">
        <h5 class="event-head">Latest Events</h5>
        @foreach (var item in Model.EventModels)
        {
            <div class="row mb-4">
                <div class="col-lg-4">
                    <div class="mt-3 mb-3">
                        <img asp-append-version="true" style="width:120px;height:100px" src="~/content/Images/@item.Images" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <h5 class="news-evfont1">@item.Title</h5>
                    <h6 class="news-evfont">@item.DatePublished</h6>
                    <p class="news-evfont2">@item.ShortDescription</p>
                    <a class="btn btn-sm " asp-action="EventDetails" asp-controller="Home">Read More</a>
                </div>
            </div>

        }



    </div>
</div>

@section Scripts{

    <script>
        $(".nav-link5").css("color", "#4ac9f0");
    </script>
}