@model EditUserModel;
@{

    ViewData["Title"] = "Edit User";
    Layout = "_AdministratorPortalLayout";

}

<div class="container-fluid">
    <div>
        <h4>Edit User</h4>
    </div>
    <div style="margin-top:100px">
        <form id="EditUser" asp-action="EditUser" asp-controller="Administrator">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Id"></label><br />
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Id" disabled="disabled" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0" /><br />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Name"></label><br />
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="@Model.Name" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0" /><br />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Age"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.Age" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Age" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Gender"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="gender" asp-for="@Model.Gender" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Religion"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="religion" asp-for="@Model.Religion" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Religion" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Nationality"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="nationality" asp-for="@Model.Nationality" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Nationality" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.State"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="state" asp-for="@Model.State" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.State" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.LocalGovt"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="localgovt" asp-for="@Model.LocalGovt" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.LocalGovt" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Address"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="address" asp-for="@Model.Address" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.PhoneNumber"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="phoneno" asp-for="@Model.PhoneNumber" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.UserName"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.UserName" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.Email"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.Email" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.OldPassword"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.OldPassword" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.NewPassword"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.NewPassword" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group input-group">
                    <div class="col-sm-4">
                        <label asp-for="@Model.ConfirmNewPassword"></label>
                    </div>
                    <div class="col-sm-7">
                        <input id="age" asp-for="@Model.ConfirmNewPassword" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" style="border-radius:15px;border:none">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            })
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}