@*@model IEnumerable< HelpersNetwork.Areas.Identity.Data.HelpersNetworkUser>
@{
    ViewData["Title"] = "ListRegisterMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-4">


    <h1>ListMembers</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                
                <td>
                    @Html.ActionLink("DeleteMembers", "DeleteMembers", new { id = item.Id })
                    @Html.ActionLink("EditEvent", "EditEvent", new { id = item.Id })
                    @Html.ActionLink("EventDetails", "EventDetails", new { id = item.Id })
                    @Html.ActionLink("DeleteNews", "DeleteNews", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>*@


