
@model NewsViewModel

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mean-container .mean-bar {
        background-color: #4e7b88;
    }
</style>

<header>
    <div class="header" style="background-color: #023041;
        top: 0px;
        position: fixed;
        z-index: 999;
        width: 100%">
        @{
            await Html.RenderPartialAsync("_MenuBar");
        }
    </div>
</header>
<div style="margin-top:100px">
    <div class="home-page-welcome">
        <h3 class="mt-2 h-st b-h2">NewsAndEvents</h3>
    </div>
</div>

<div class="container-fluid" style="margin-top:80px;padding-right:30px;padding-left:30px">
    <div class="row">
        <div class="col-lg-8 col-md-12 mb-4">
            <div class="news-block mb-5">
                @foreach (var item in Model.newsModel)
                {
                    <div class="mb-4 row">
                        <div class="mb-3 col-sm-8 ">
                            <img asp-append-version="true" class="News-img" src="~/ContentImages/@item.ImagePath" />
                        </div>
                        <div class="ml-4">
                            <h5 class="newsdate" datetime="@item.DatePublished.ToString("dd/MM/yyyy HH:mm")">@item.DatePublished.ToString("dd/MM/yyyy HH:mm")</h5>
                            <p class="mt-2 newsparagraph" style="font-size:x-large"><b>@item.Title</b></p>
                            <p class="newsparagraph" style="font-weight:600">@item.ShortDescription</p>
                            <a class="btn-lg news-btn" style="color:white" asp-action="NewsDetails" asp-controller="News" asp-route-id="@item.Id">Read More</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mt-5">
            <div class="comunityproject">
                <h3 class="mt-3 mb-5 text-center youtube-head">Latest Project Videos</h3>
                <div class="ml-4" style="margin-top:70px">
                    @foreach (var youtubevideo in Model.ProjectVideosmodel)
                    {
                        <a href="@youtubevideo.VideoUrl">
                            <div class="mb-3 row">
                                <div class="col-3">
                                    <img src="@youtubevideo.ThumbnailPath" />
                                </div>
                                <div class="col-8">
                                    <p class="youtube-p" style="font-size:15px">@youtubevideo.Title</p>
                                    <p class="youtube-p">@youtubevideo.Description</p>
                                    <p class="youtube-p" datetime="@youtubevideo.PublicationDate" style="font-size:smaller;color:#4ac9f0">@youtubevideo.PublicationDate</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <nav aria-label="News navigation example">
            <vc:pager paging-list="@Model.newsModel" />
        </nav>
    </div>
</div>

@section Scripts{

    <script>
        $(".nav-link5").css("color", "#4ac9f0");
    </script>
}